---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "external/nes";

.arm-image {
  position: relative;
  left: -110px;
  top: -80px;
  transform-origin: 10px calc(100% - 10px);
}

.rotating-element {
  animation: rotate200 1s ease-in-out infinite alternate;
}

@keyframes rotate200 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(20deg);
  }
}

.armless {
  width: 200px;
  z-index: 3;
  position: relative;
}

.arm-image {
  width: 75px;
  z-index: 2;
}

.nes-dialog-wrapper {
  position: relative;
  top: -350px;
  left: 90px;
  z-index: 1;

  @media (max-width: 768px) {
    top: -380px;
  }
}

.rotating-element::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 50%;
  bottom: 10px;
  left: 10px;
  z-index: 1;
}

.dialog-box {
  color: black;
  cursor: pointer !important;
}

.dialog-box:hover {
  background-color: #f0f0f0;
}

#continue-indicator {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 20px;
  animation: bounce 0.5s infinite alternate;
  display: none;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-5px);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.video-container {
  width: 100%;
  position: absolute;
}

#myVideo {
  width: 100%;
  display: block;
}

body {
  transition: background-color 1s ease;
}
body.fade-to-black {
  background-color: black;
}
body.fade-to-black * {
  color: white;
}
.cloud {
  cursor: pointer;
}
.fade-to-black .robot {
  position: relative;
  z-index: 10;
}
.video-container {
  position: absolute;
  top: -80px;
  left: -240px;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: none;
  @media (max-width: 768px) {
    left: 0;
  }
}

@media (max-width: 768px) {
  .nes-dialog-wrapper {
    width: 250px;
  }
}

@keyframes lightningStrike {
  0% {
    filter: blur(0px) brightness(100%);
  }
  10% {
    filter: blur(2px) brightness(200%);
  }
  60% {
    filter: blur(0px) brightness(100%);
  }
  80% {
    filter: blur(2px) brightness(200%);
  }
  100% {
    filter: blur(0px) brightness(100%);
  }
}

.spin-robot {
  animation: lightningStrike 4s linear 1;
  transform-style: preserve-3d;
}

.content-wrapper {
  margin-top: 150px;
}
.robot {
  height: 300px;
  transition: transform 0.5s ease-in-out;
  transform-style: preserve-3d;
  position: absolute;
  left: 0;
  top: 0;
}

#home-description {
  z-index: 5;
  position: relative;

  margin-left: 300px;
  padding-top: 75px;
  max-width: 250px;
  @media (max-width: 768px) {
    margin-left: 190px;
  }
}

#scene-container {
  position: relative;
  min-height: 300px;
}

.robot img {
  backface-visibility: visible;
}

#cloud-container {
  position: relative;
  position: absolute;
  width: 150px;
  right: 25%;
  top: 10%;

  @media (max-width: 768px) {
    top: 120px;
    width: 75px;
  }
}

#cloud-container img {
  position: absolute;
  top: 0;
  left: 0;
}

#cloud-container:hover #cloud-image {
  display: none;
}

#cloudhappy-image {
  display: none;
}

#cloud-container:hover #cloudhappy-image {
  display: block;
}

.nes {
  transition: opacity 0.5s ease;
}
.hidden {
  display: none;
}

#cloudshock-image {
  filter: brightness(0.7) /* Darken the image */ contrast(120%)
    /* Increase contrast */ grayscale(100%) /* Convert to grayscale */
    drop-shadow(0 0 10px rgba(255, 255, 255, 0.3)); /* Add a subtle glow */

  /* Optional: Add animation for a lightning effect */
  animation: lightning 2s linear;
}

@keyframes lightning {
  0%,
  20%,
  40%,
  60%,
  80% {
    filter: brightness(0.7) contrast(120%) grayscale(100%)
      drop-shadow(0 0 10px rgba(255, 255, 255, 0.3));
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    filter: brightness(1.2) contrast(120%) grayscale(100%)
      drop-shadow(0 0 10px rgba(255, 255, 255, 0.7));
  }
  100% {
    filter: brightness(0.7) contrast(120%) grayscale(100%)
      drop-shadow(0 0 10px rgba(255, 255, 255, 0.3));
  }
}

.video-container video {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block; /* This removes any unwanted space below the video */
}
